/**javaeye blog.css*/
div.quote_title {
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 0 15px;
}

div.quote_div {
    border: 1px solid #ccc;
    margin: 0 5px 5px 15px;
    padding: 3px;
    background: #fafafa;
}
